In [32]:
tod_one_tm = 1
sib_one_dw = 2
sib_two_dw = 0
one_dw = 5
two_dw = 5
days_in_month_1 = 4
days_in_month_2 = 8

def calculate_monthly_income():
   
    rate_sib_one_dw = 21
    rate_sib_two_dw = 18
    rate_one_dw = 15
    rate_two_dw = 13

    income_tod_one_tw = tod_one_tm * rate_one_dw 
    income_sib_one_dw = sib_one_dw * rate_sib_one_dw * days_in_month_1
    income_sib_two_dw = sib_two_dw * rate_sib_two_dw * days_in_month_2
    income_one_dw = one_dw * rate_one_dw * days_in_month_1
    income_two_dw = two_dw * rate_two_dw * days_in_month_2

    
    total_income = income_sib_one_dw + income_sib_two_dw + income_one_dw + income_two_dw + income_tod_one_tw
    return total_income

monthly_income = calculate_monthly_income()
print("Monthly Gymnastics Income:", '$',monthly_income)

Monthly Gymnastics Income: $ 1003